#============================== Dashboards =====================================
setup.dashboards:
  enabled: false
  directory: ${path.home}/kibana
  #url: ''
  #file:
  beat: '<%= @name %>'
  kibana_index: .kibana
  # index:
  always_kibana: false
  retry:
    enabled: false
    interval: 1s
    maximum: 0