#================================ Logging ======================================
logging:
  level: info
  selectors: ["*"]
  to_syslog: false
  to_eventlog: false
  metrics:
    enabled: true
    period: 30s
  to_files: true
  files:
    path: '/var/log/<%= @name %>'
    name: '<%= @name %>.log'
    rotateeverybytes: 10485760 # = 10MB
    keepfiles: 7
    permissions: 0600
    interval: 24h
  json: false
