#================================ Outputs ======================================
<%= render "output_elasticsearch.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "output_logstash.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "output_kafka.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "output_redis.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "output_file.yml.erb", :option => { cookbook: "elastic-beats" } %>

<%= render "output_console.yml.erb", :option => { cookbook: "elastic-beats" } %>